APP_NAME=server-agent-python
APP_ENV=local
APP_PORT=9090
APP_LOG_LEVEL=INFO
APP_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/server_agent
APP_REDIS_URL=redis://localhost:6379/0
APP_DB_POOL_MIN_SIZE=1
APP_DB_POOL_MAX_SIZE=10
APP_DB_CONNECT_TIMEOUT=3
APP_REDIS_CONNECT_TIMEOUT=3
APP_REDIS_SOCKET_TIMEOUT=3
APP_LLM_API_KEY="123"
APP_LLM_BASE_URL="123"